.skills-scroll-wrapper .content {
  position: relative;
  min-height: 100vh;
}

.skills-scroll-wrapper .content--sticky {
  min-height: 100vh;
  display: flex;
  
  align-items: center;
  justify-content: center;
  z-index: 1;
  transform-origin: bottom bottom;
  will-change: transform;
}

.skills-scroll-wrapper .content__inner {
  width: 100%;
}