.skills-scroll-wrapper .content {
  position: relative;
  height: 100vh;
}

.skills-scroll-wrapper .content--sticky {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills-scroll-wrapper .content__inner {
  width: 100%;
}